[submodule "vader-jedi"]
	path = vader-jedi
	url = https://github.com/jcsda/vader
[submodule "saber-jedi"]
	path = saber-jedi
	url = https://github.com/jcsda-internal/saber
[submodule "oops-jedi"]
	path = oops-jedi
	url = https://github.com/jcsda-internal/oops
